/* [ YEK/SASS - VERSION : 3.2.0 ] */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
.visible-hidden {
  visibility: hidden;
}


:root {
  --color-primary: #1a2556;
  --color-secondary: #a5b3d4;
  --color-gray: #dde6f3;
  --color-white: white;
  --color-black: #3e3743;
  --color-input-hover: rgba(165, 179, 212, 0.6);
  --color-input-focus: rgba(26, 37, 86, 0.45);
  --font-family: Roboto, Montserrat, sans-serif;
}

/* __[ STYLE ]__ */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s ease all;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
}

:root {
  --color-primary: #62D84E;
  --color-link-active: rgba(240, 191, 117, 0.8);
  --color-secondary: #d9e4ff;
  --color-gray: #808489;
  --color-black: #eeeeee;
  --color-white: #343636;
  --color-background: #26495D;
  --color-bg: #172A34;
}

body {
  background: var(--color-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  color: var(--color-black);
}

/* header */
.app {
  --logo-width: 150px;
  --search-width: 60px;
  --header-heigth: 80px;
  width: 960px;
  height: 90vh;
  border-radius: 28px;
  background: var(--color-background);
  overflow: hidden;
}

.app__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: var(--header-height);
  padding: 45px;
}
.app__logo {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: var(--logo-width);
  height: var(--header-height);
  text-decoration: none;
}
.app__logo_text {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.app__logo_text:nth-child(1) {
  color: var(--color-black);
  font-weight: 900;
}
.app__logo_text:nth-child(2) {
  color: var(--color-primary);
  font-weight: 600;
}

.app__nav {
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: calc(100% - (150px + 60px + 40px));
  padding: 0 125px;
}
.app__nav_list {
  width: 600px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 15px 35px;
  overflow: hidden;
}
.app__nav_item {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.app__nav_link {
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.3rem;
  font-weight: 400;
}
.app__nav_link:focus {
  box-shadow: 0 0 0 5px var(--color-link-hover);
}

/* hero */
.app__hero {
  display: grid;
  grid-template-rows: 50px 245px 145px 145px;
  grid-template-columns: 50px 1fr 50px 2fr;
  height: calc(100% - var(--header-height));
  width: 100%;
  padding: 15px 50px;
}
.app__heading {
  grid-column: 2;
  grid-row: 2;
}
.app__cta {
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  stroke: none;
  box-shadow: none;
  width: 150px;
  height: 50px;
  transition: 0.2s 0s ease-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 65px;
  background: white;
  border-radius: 9px;
}
.app__cta:hover {
  box-shadow: 0 0 0 0.25rem var(--color-input-hover);
}
.app__cta {
  grid-column: 2;
  grid-row: 3;
}
.app__cover {
  grid-column: 4;
  grid-row: 1/4;
}

.app__title {
  font-size: 60px;
  padding: 0;
  margin: 0;
}
.app__title span {
  color: var(--color-primary);
}

.app__cover {
  position: relative;
  margin: 0;
  padding: 15px;
}
.app__cover_img {
  position: absolute;
  left: 115px;
  bottom: 145px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 530px;
  height: 480px;
  border-radius: 12px;
  z-index: 2;
  cursor: zoom-in;
}
.app__cover_shape {
  position: relative;
  display: inline-block;
  width: 330px;
  height: 90%;
  top: 0;
  left: 330px;
  z-index: 1;
}
.app__cover_shape, .app__cover_shape::before {
  background: var(--color-bg);
  border-radius: 25px;
}
.app__cover_shape::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: -115px;
  transform: translateX(10px) skewX(351deg);
}

.app__cta {
  transition: 0.2s 0s ease-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45px;
}
.app__cta_btn {
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  margin: auto 0;
  font-size: 0.9em;
  margin-right: 5px;
  border-radius: 9px;
  padding: 8.5px 10px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-primary);
}
.app__cta_btn:active {
  opacity: 0.5;
}
.app__cta_text {
  margin: auto 0;
  text-align: center;
  color: var(--color-gray);
}


/* PC & Tablets ---------------------- */
@media screen and (min-width: 265px) {
  .app__header {
    padding: 21px;
  }
  .app__logo {
    font-size: 1.4rem;
  }
  .app__hero {
    grid-template-rows: 35px 190px 85px 100px;
    grid-template-columns: 40px 1.2fr 14% 2fr;
    padding: 5px 35px;
  }
  .app__title {
    font-size: 42px;
  }
  .app__description--top {
    font-size: 14px;
  }
  .app__nav {
    padding: 0 16px;
  }
  .app__nav_link {
    height: unset;
    font-size: 1.2rem;
  }
  .app__description--sub {
    height: 12px;
    font-size: 12px;
  }
  .app__cover {
    width: 100%;
    height: calc(100% + 30px);
    grid-row: 1/span 4;
  }
  .app__cover_img {
    width: 345px;
    height: 350px;
    left: 70px;
    bottom: 55px;
  }
  .app__cover_shape {
    width: 200px;
    height: 105%;
    top: -12px;
    left: 230px;
  }
  .app__cover_shape::before {
    width: 85%;
    transform: translateX(10px) skewX(355deg);
  }
}

/* Phones --------------- */
@media screen and (max-width: 800px) {
  .app {
    width: 95%;
    height: 95vh;
    overflow: scroll;
    border-radius: 18px;
  }
  .app__logo {
    justify-content: flex-start;
  }
  .app__nav {
    width: 100%;
    padding: 15px 0;
  }
  .app__nav_list {
    padding: 0;
  }
  .app__nav_link {
    font-size: 0.88rem;
    font-weight: 600;
  }
  .app__hero {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
  }
  .app__heading {
    height: auto;
  }
  .app__cover {
    height: 340px;
  }
  .app__cover_img {
    width: 245px;
    height: 250px;
  }
}




/* Transition */
@-webkit-keyframes push-up {
  from, 0% {
    transform: translateY(150%);
  }
  to, 100% {
    transform: translateY(0);
  }
}
@keyframes push-up {
  from, 0% {
    transform: translateY(150%);
  }
  to, 100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes push-down {
  from, 0% {
    transform: translateY(-150%);
  }
  to, 100% {
    transform: translateY(0);
  }
}
@keyframes push-down {
  from, 0% {
    transform: translateY(-150%);
  }
  to, 100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in {
  from, 0% {
    opacity: 0;
  }
  to, 100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  from, 0% {
    opacity: 0;
  }
  to, 100% {
    opacity: 1;
  }
}
.app, .app__nav_item {
  -webkit-animation: push-up ease both;
          animation: push-up ease both;
}
.app__title, .app__cover_img {
  -webkit-animation: push-down ease both;
          animation: push-down ease both;
}
.app__cta, .app__logo {
  -webkit-animation: fade-in ease both;
          animation: fade-in ease both;
}
.app {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.app__cover_img {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.app__title {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.app__heading, .app__cover {
  overflow: hidden;
}
.app__logo {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.app__cta {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.app__nav_item {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.app__nav_item:nth-child(1) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.app__nav_item:nth-child(2) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.app__nav_item:nth-child(3) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.app__nav_item:nth-child(4) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.app__nav_item:nth-child(5) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.app__logo:hover .app__logo_text:first-of-type {
  color: var(--color-primary);
}
.app__logo:hover .app__logo_text:last-of-type {
  color: var(--color-black);
}